

* {
    border: 10px;
    margin: 5px;
    padding: 0px; 
    box-sizing: border-box; 
    /* width: inherit; */
}

img {
    width: 100%;
}

body {
    color: brown;
    margin: 10px;
    padding: 10px;
    background-color: beige;
    font-family: 'Josefin Sans', sans-serif;
}


.txt {
    text-align: left;
   
}

.kay-brand-pic {
    width: 130px;
    text-align-last: left;
}

.navbar{
    background-color: beige;
}

/*----------------- navigation bar---------------- */
.nav-bar {
    text-align: right;
    display: block;
    
}

.nav-bar {
    text-align: right;
    display: block;
}

.nav-bar a {
    
    color: black;
    width: auto;
    height: auto;
    text-decoration: none;
    justify-content: space-between;
    padding-inline: 10px;
    margin-right: 1%;
   
}

.nav-bar a:hover {
    color: red;
    
}


.references .mail {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    background-color: burlywood;
    color: black;
    text-align: center;

    
    margin-bottom: 25px;
    margin-top: 20px;
    background-clip: padding-box;
    border: 1px solid;
    border-color: gray;
    border-radius: 12px;
    
    /* -------not included */
    /* text-shadow: 0 0 2px rgb(174, 120, 120,1); */
    /* background-color: aquamarine; */
    /* background-image: linear-gradient(to right, beige, brown); */
    /* box-shadow: inset 0 1px 0 rgba(255,255,255,.09, 0 1px 1px)  rgba(0,0,0,.2, rgb(203, 136, 42), rgb(11, 40, 40), alpha); */

}


.front_view .references .mail a {
    color: black;
}

.mail:hover {
    background-color: brown;
}


.suit {
    border-radius: 50%;
    width: 300px;
    
}



.references h1 {
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
}

.interface {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    /* ----------not included */
    /* padding: 2rem 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem; */
    /* height: 24rem; */
}

.front_view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 2.5%;
    margin-right: 2%;
    background-color: darkgrey;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 30px;
    

}


.references {
    margin-right: 20px;
}

.references a {
    text-decoration: none;
    color: black;
}

.references li a:hover {
    color: red;
    padding: 3px;
}



.reco {
    padding-left: 2rem;
}

/*----------------------- to divide the grid into columns---------- */
.reco {
    display: grid;
    grid: 60px;
    padding-top: 5%;
    padding-bottom: 50px;
    grid-gap: 150px;
    grid-template-columns: repeat(2, 1fr);
}

/* ----------------footer & footer links --------------------*/
.footer-inclusion {
    border: 0px;
    
    background-color: rgb(174, 120, 120);
    color: black;

    
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    /* -------not included */
    /* margin-top: 10px;
    margin-left: -10px;
    margin-right: -15px; */
}



/*------------------- not included---------- */
/* .footer{
    display: grid; 
    grid: 60px; 
    padding-top: 5%; 
    padding-bottom: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr); 
} */
/* ----------up not included---------- */
.footer-logo img {
    text-align: right;
    width: 30px;
    height: 30px;
}
.footer-logo {
    display: flex;
    margin: 10px 0px 0 0px;
    text-align: center;
    
}

/* .footer a {
    text-decoration: none;
} */

/* .social-media {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-top: -20px;
} */

.footer-logo a {
    /* float: right; */
    padding-top: -25px;
    padding-right: 10px;
}

/* .footer-logo a{padding-top: 100px;}   */

.ref-link a {
    /* text-align-last: left; */
    /* float: left; */
    padding-bottom: 16px;
    margin: 0% 1% 1% 3px;
    justify-content: space-between;
    color: rgb(77, 50, 14);
}

.ref-link a:hover {
    color: burlywood;
    padding: 1px;
}

.copyright-name {
    color: rgb(101, 63, 63);
}


.copyright-brand {
    float: right;
}

.copyright-brand a {
    color: bisque;
}

.copyright-name {
    text-align: center;
}


.footer-logo a {
    color: bisque;
}

.linkin {
    visibility: hidden;
    width: 50px;
}

.linkedin:hover+.linkin {
    visibility: visible;
}

.tweet {
    visibility: hidden;
    width: 50px;
}

.twitter:hover+.tweet {
    visibility: visible;
}

.git {
    visibility: hidden;
    width: 50px;
}

.github:hover+.git {
    visibility: visible;
}

.insta {
    visibility: hidden;
    width: 50px;
}

.instagram:hover+.insta {
    visibility: visible;
}

.mail-picture {
    visibility: hidden;
    width: 50px;
}

.email-picture:hover+.mail-picture {
    visibility: visible;
}


.footer-name-logo {
    width: 130px;
    text-align: right;
    padding-left: 20px;

}











/* ------Achievements---------------- */
.profile-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    text-align: center;
    gap: 1rem;
    margin: 2rem;
}

.certs {
    /* border: 3px solid white;  */
    border-radius: 10px;
    margin: 0 0px 0px 0;
    
    /* background: white; */
    padding: 1px;
    /* margin-top: 50px;
    margin-right: 90px; */
}

.ach-section {
    font-family: monospace;
    text-align: center;
}

.profile-body img {
    width: 100%;
    display: block;
}

.profile-body a {
    text-decoration: none;
}

/* .agile{float: left;} */
.profile-body a {
    color: brown;
}

.profile-body a:hover {
    color: red;
}


.row{
    margin: 0;
}
.container{
    background: rgb(199, 121, 19);
}



footer {
    margin: 0 5px;
    background-color: #F5D6A8;
  }
  .social-links li {
      display: inline-block;
      margin-right: 10px;
  }

  .social-links li {
    display: inline-block;
    margin-right: 10px;
}








/*--------------------- responsive -------------------------*/
@media(max-width: 320px) {
    body {
        color: brown;
        margin: 10px;
        padding: 10px;
        background-color: beige;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .interface {
        
        display: block;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .front_view {
        display: block;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-left: 2.5%;
        margin-right: 2%;
        background-color: darkgrey;
        /* padding: 2rem 2rem 4rem 2rem; */
        border-radius: 30px;
    }

    .suit {
        border-radius: 0%;
        width: 200px;
    }

    .kay-brand-pic {
        width: 130px;
        align-items: center;
    }

    .references h1 {
        font-weight: 700;
        font-size: large;
        text-align: center;
        
    }
    
    .reco {
        display: block;
        margin-bottom: 10px;
        justify-content: space-between;
        /* grid: 60px; */
        padding-top: 5%;
        padding-bottom: 50px;
        grid-gap: 150px;
       
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .footer-inclusion {
        display: block;
        border: -10px;
        margin: 5px; 
        margin-left: -80px; 
        margin-right: -25px;
        padding: 10px;
        padding-right: -10px; 
        padding-left: -10px;
        padding-bottom: 50px;
        box-sizing: border-box;
        background-color: rgb(174, 120, 120);    
    }

    /* .footer{
        display: block;
        padding-left: 1rem;
        margin-left: 5rem;
        padding: 10px;
        
    } */
    .ref-link a {
    
        display: block;
        padding-bottom: 16px;
        margin: 0% 1% 1% 3px;
        justify-content: space-between;
        /* color: rgb(77, 50, 14); */
    }
    .footer-logo {
        display: block;
        
        /* margin: 10px 0px 0 0px; */
       
        text-align: left; 
    }
    .footer-name-logo {
        display: block;
        padding-left: 1rem;
        margin-left: 4.5rem;
        width: 250px;
        text-align: right;
        padding-left: 20px;
    
    }
    
    .copyright-name {
        color: rgb(101, 63, 63);
        text-align: right;
    } 
}





@media(max-width: 576px) {
    .references {
        font-weight: 100;
        font-size: large;
        /* text-align: center; */
        /* position: absolute; */
        /* top:120px ; */
    }

    .footer-logo img {
        text-align: right;
        justify-content: space-between;
        /* float: right; */
        /* border-radius: 100%; */
        width: 30px;
        height: 30px;
    }

    .footer-name-logo {
        width: 130px;
        text-align: right;
        padding-left: 20px;
    }

    .footer-inclusion {
        background-color: rgb(174, 120, 120);
        color: black;
        margin-top: 10px;
        margin-left: -10px;
        margin-right: -15px;
        padding: 50px;
        padding-top: 30px;
        padding-bottom: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    

    .front_view {
        /* display: flex;  */
        /* grid-template-columns: repeat(2, 1fr); */
        /* align-items: center;  */
        /* justify-content: center; */
        /* align-items: center; */
        margin-left: 2.5%;
        margin-right: 4%;
        background-color: darkgrey;
        padding: 4rem 2rem 3rem 2rem;
        border-radius: 30px;
    }

    .references h1 {
        font-weight: bold;
        font-size: large;
        text-align: center;

    }

    .suit {
        border-radius: 50%;
        width: 250px;
    }


    .profile-body {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        grid-gap: 1%;
        height: 100%;
        margin-bottom: 180px;

    }

    .certs {
        /* border: 3px solid white;  */
        border-radius: 10px;
        /* margin: 0 0px 0px 0; */
        /* background: white; */
        padding: 1px; padding-top: 30px;
        /* margin-top: 50px;
        margin-right: 90px; */
    }

    /* .profile-body{display: grid; 
        grid: 100px; 
        padding-top: 1%; 
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem 2rem;
        text-align: center;
    } */
    .nav-bar a:hover {
        color: red;
        padding: 1px;
    }

    .nav-bar {
        text-align: right;
        display: block;
    }

    .nav-bar a {
        margin: 1% 1% 1% 1%;
        color: black;
        width: auto;
        height: auto;
        text-decoration: none;
        justify-content: space-between;
    }
    /* .social-media{
        display: block;
    } */
    .footer-logo {
        display: inline-flex;
        margin: 10px 0 0 10px;
        text-align: center;
        /* text-align: left; */
        justify-content: space-between;
    }
    .ref-link a {
        /* display: block; */
        /* text-align-last: left; */
        /* float: left; */
        padding-bottom: 16px;
        margin: 0% 1% 1% 3px;
        justify-content: space-between;
        color: rgb(77, 50, 14);
    }
    
    .ref-link a:hover {
        color: burlywood;
        padding: 1px;
    }
}






    /* Small devices (landscape phones, 576px and up) */

    /* Medium devices (tablets, 768px and up) */
    /* @media (min-width: 768px) {.profile-body{display: grid; 
    grid: 60px; padding-top: 5%; 
    grid-gap: 150px;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 2rem;
}  } */
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {}

    /* // X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}

    /* // XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {}



















































































































    /* body{
    padding: 0;
    margin: 1px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;}

.landing .tab a{justify-content: space-between;
    text-decoration: none;
color: white;
padding: 1% 1% 0% 1%; 
    margin: 1% 0% 0% 2%;
    
}
.landing .tab{text-align: right;}
.landing a:hover{color: red;}

.landing{ box-sizing: border-box;
    margin: auto;
    height: 100vh; width: 100%;
    background-repeat: fixed;
    background-image: linear-gradient(to right, purple, blue);
}
#img{text-align:right; display:flex;}
/* 
.landing header{margin-left: auto;}

.landing .tab a{
    color:white;
    text-decoration: none;
    justify-content: space-between;
    float: right;
    padding: 8px; 
    margin: 1% 0% 0% 2%;
}
.landing a:hover{
color: red;}

 #img{float: right;}

.text-container{position: absolute;
    text-align: center; margin: 50px;
    width: 45%; 
color: white;}

.info{background-color: #102382;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 80px;
    transition: .4s;
    margin: 50px; 
}

.intro h2{text-align: center; padding-top: 50px;
text-decoration:none;
}

.intro hr{
height: 2px;
    width: 100px;
    border: none;
    background: rgb(3, 25, 91);
    margin: 0 auto;}
.pic{width: 250px;
    height: 250px;
    padding-top:1px;
    float: left;
}
.skills h2{text-align: center; padding-top: 50px;
    text-decoration:none;}
.skills hr{height: 2px;
    width: 100px; 
    border: none;
    background: rgb(3, 25, 91);
    margin: 10 auto;}



.qwerty{position: relative;}
.skill-container{margin-left: 50px;
    /* position: absolute; */
    /* width: 200px;
height: 200px;
background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
} */